.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  justify-content: center;
  border: 1px solid #000;
  width: 250px;
  height: 350px;
  padding: 10px;
}
.box2 {
  border: 1px solid #000;
  width: 200px;
  height: 40px;
  padding: 10px;
}
