@charset "utf-8";

div{
    width: 250px;
    height: 90px;
    border: 2px solid black;
    text-align: left;
    padding-left: 15px;
    margin: auto;
    margin-top: 20em;
    font-weight: bold;
}
span{
    color: blue;
}