@charset "utf-8";

table{
    border-collapse: collapse;
    box-shadow: 3px 3px 3px 3px gray;
}
th, td{
    width: 40px;
    height: 40px;
    text-align: center;
    border: 2px solid black;
    font-weight: bold;
}