* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container2 {
  position: relative;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  width: 320px; 
  height: 110px; 
  border: 1px solid black;
  padding: 10px;
}

.container2 p {
  color: blue;
  font-weight: bold;
  margin: 7px;
}

.container2 span {
  color: black;
  font-weight: normal;
}

.container1 {
  position: absolute;
  z-index: 1;
  left: 150px;
  top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 50px); 
  grid-template-rows: repeat(3, 50px);
  border-top: 1px solid black;    
  border-left: 1px solid black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.container1 div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  transition: transform 0.3s;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.container1 div:nth-child(1):hover {
  background-color: red;
  cursor: pointer;
}
.container1 div:nth-child(2):hover {
  background-color: blue;
  cursor: pointer;
}
.container1 div:nth-child(3):hover {
  background-color: green;
  cursor: pointer;
}
.container1 div:nth-child(4):hover {
  background-color: yellow;
  cursor: pointer;
}
.container1 div:nth-child(5):hover {
  background-color: orange;
  cursor: pointer;
}
.container1 div:nth-child(6):hover {
  background-color: blueviolet;
  cursor: pointer;
}
.container1 div:nth-child(7):hover {
  background-color: aqua;
  cursor: pointer;
}
.container1 div:nth-child(8):hover {
  background-color: darkblue;
  cursor: pointer;
}
.container1 div:nth-child(9):hover {
  background-color: coral;
  cursor: pointer;
}
